@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* ------------- */
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

:root {
  --light-green-1: #7adaa5;
  --navBG: #c7c257;
  --navbar-height: 72px;
}

main {
  width: 100%;
  min-height: 100vh;
}
.main-box {
  width: 100%;
  height: 50vh;
}
